body {
  margin: 0;
  font-family: "Space Mono";
  font-weight: 700;
  background-color:  hsl(185, 41%, 84%);
  height: 100%;
  display: flex;
  justify-content: center;
  
}

.white{
  background-color: white;
  width: 700px;
  height: 350px;
  margin-top: 27%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator{
  background-color: white;
  height: 260px;
  width: 260px;
  float: left;
  margin-right: 10px;
  border-radius: 20px;
  padding: 30px;
}


.result{
  background-color: hsl(183, 100%, 15%);
  height: 260px;
  width: 260px;
  float: right;
  margin-left: 10px;
  border-radius: 20px;
  padding: 30px;
}

.bill, .tip, .people{
  margin-bottom: 35px;
  color:  hsl(186, 14%, 43%);
}

.tip input{
  width: 55px;
  height: 25px;
  background-color: hsl(183, 100%, 15%) ;

}

.bill input{
  width: 100%;
  background-color: hsl(189, 41%, 97%);
  border: 0;
  height: 20px;
  text-align: end;
  font-family: "Space Mono";
  color: hsl(183, 100%, 15%);
  font-weight: bold;
}

.inp :focus{
  border-color: hsl(173, 60%, 76%);
}



.tipButton{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonrow{
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
 
}

.tipButton button{
  height: 30px;
  width: 75px;
  font-family: "Space Mono";
  border: 0;
  border-radius: 3px;
  color: white;
  background-color: hsl(183, 100%, 15%);
  margin: 5px;
}


.people input{
  width: 100%;
  background-color: hsl(189, 41%, 97%);
  border: 0;
  height: 20px;
  text-align: end;
  font-family: "Space Mono";
  color: hsl(183, 100%, 15%);
  font-weight: bold;

}

.TipAmount , .Total{
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px
}

.TipAmount h6{
  margin: 0;
  color:  hsl(184, 14%, 56%);
}

.Total h6{
  margin: 0;
  color:  hsl(184, 14%, 56%);
}

.result label{
  color: white;
}

.result span{
  color:  hsl(172, 67%, 45%);
  font-size: xx-large;
}

.reset{
  width: 100%;
  height: 35px;
  background-color:  hsl(173, 60%, 76%) ;
  color: hsl(183, 100%, 15%);
  font-weight: bolder;
  border-radius: 5px;
  border: 0;
  font-family: "Space Mono";
}

@media screen and (max-width:768px){
  .white{
    height: 700px;
    width: 400px;
    flex-direction: column;   
  }
  .buttonrow{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    grid-auto-rows: auto; /* Automatically size rows based on content */
    gap: 5px; 
    }
    
    .buttonrow button{
      width: 120px;
    }

    .result{
      height: 180px;
      margin-top: 50px;
    }

    .TipAmount , .Total{
      margin-bottom: 30px
    }
}






@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}
